@import '~angular-material-css-vars/public-util';

header{
  background: mat-css-color-primary();
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
  padding: 2rem;
}

.title {
  h1 {
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    margin: 0 0 .5em 0;
  }

  h3 {
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
  }
}

.subtitle {
  color: #fff;
  display: block;
  font-size: 1em;
}

.mat-divider {
  border-top-color: mat-css-color-accent();
  border-top-width: 3px;
  margin: 0 38.5vw 20px;
}

@media (min-width: 599px) {
  .subtitle {
    margin: 0 auto;
    width: 35vw;
  }

  .mat-divider {
    margin: 0 46.5vw 20px;
  }
}
