<copa-filmes-header
  title="Fase de Seleção"
  subtitle="Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão Gerar Meu Campeonato para prosseguir.">
</copa-filmes-header>

<ng-container *ngIf="$filmes | async as filmes; else loading">
  <mat-toolbar>
    <div>
      <p>Selecionados</p>
      <p>
        <span>{{selected}}</span> de <span>8</span> filmes
      </p>
    </div>
    <button mat-raised-button color="accent">Gerar meu campeonato</button>
  </mat-toolbar>

  <div class="container">
    <div class="grid">
      <ui-selectable-card *ngFor="let filme of filmes">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-checkbox></mat-checkbox>
          </div>
          <mat-card-title>{{filme.titulo}}</mat-card-title>
          <mat-card-subtitle>{{filme.ano}}</mat-card-subtitle>
        </mat-card-header>
      </ui-selectable-card>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <copa-filmes-loading
    color="primary"
    mode="indeterminate">
  </copa-filmes-loading>
</ng-template>
